<br>
<%= form_tag  create_marker_path, method: :post, remote: true do  %>

  <%= text_field_tag 'address' %>
  <%= submit_tag "Map it!" %>

<% end %>

<br><br>
<div id="map"></div>
<%= content_tag "div", id: "markers", data: {url: @markers } do %>  
<% end %>
